<footer>
    <div class="container-fluid" style="margin-top: 20px; padding-top: 10px;">
        <div class="row">
            <div class="col-12 site-info">
                <div class="item">
                    <a href="https://beian.miit.gov.cn" target="_blank" rel="noopener external nofollow noreferrer">粤ICP备18087261号</a>
                    <a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=44030702003505" target="_blank" rel="noopener external nofollow noreferrer">
                        <img src="//www.ztan.net/images/icon_beian.png" alt="粤公网安备 44030702003505号">粤公网安备 44030702003505号
                    </a>
                </div>

            </div>
            <div class="item">2022 Powered by node on Linux</div>
            <div class="item cdn">
                本网站由
                <a href="https://www.upyun.com/?utm_source=lianmeng&amp;utm_medium=referral" rel="noopener external nofollow noreferrer">
                    <img src="//www.ztan.net/images/upyun_logo.png" alt="又拍云" style="width:50px;">
                </a>
                提供CDN加速/云存储服务
            </div>
        </div>
    </div>
</footer>