<div class="topBar">
    <div class="container flex-c-sb ">
        <div><span>目之瞬间-专注于互联网平台</span></div>
        <div>
            <ul class="display-flex">
                <li><a href="https://github.com/t-jian" target="_blank" rel="noopener">Github</a></li>
                <li><a href="https://blog.csdn.net/qq_35260798" target="_blank" rel="noopener">CSDN</a></li>
                <li><a href="/">本站历程</a></li>
            </ul>
        </div>
    </div>
</div>
<header class="navbar navbar-expand-md bd-navbar sticky-top header-navbar">
    <nav class="container flex-wrap flex-md-nowrap">
        <a class="navbar-brand p-0 d-inline-flex align-items-center logo-box" href="/" rel="section">
            <img src="https://src-cdn.ztan.net/ztan/site_logo.png" alt="logo">
            <hr class="d-md-none text-white-50">
            <div>
                <h1 class="name">生活日记</h1>
                <h2 class="desc">目之所及，皆为回忆</h2>
            </div>
            <hr class="d-md-none text-white-50">
        </a>
    </nav>
</header>