{{extend './shared/_layout.html'}}
{{block 'title'}}{{'sitemap生成'}}{{/block}}
{{block 'head'}}
<style>
    .form-box{
        max-width: 800px;
        text-align: center;
        margin: 0 auto;
        margin-top: 20px;
    }
    .output-box{
        width: 100%;
        background: rgb(21, 24, 35);
        border-radius: 4px;
        margin: 0 auto;
        text-align: left;
    }
    .output-box ul{
        list-style: none;
        padding: 10px;
    }
    .output-box ul li{
        color: #ffffff;
        font-family: courier-new, courier, monospace;
        font-size: 16px;
       
    }

</style>
{{/block}}
{{block 'body'}}
<div class="container">
<div class="row">
    <div class="col-12 mb-3">
        <div class="form-box">
            <form  class="form">
                <div class="mb-3"><input id="input_host" class="form-control form-control-lg" type="text" placeholder="请输入网站域名，加密网站请使用https://开头" ></div>
                <div class="mb-3"><button type="button" style="width: 70%;" class="btn btn-primary">生成网站地图</button></div>
           </form>
           <div class="output-box" >
            <ul>
                <li>111111</li>
                <li>111111</li>
                <li>111111</li>
            </ul>
           </div>
        </div>
    </div>
</div>
</div>
{{/block}}
{{block 'script'}}
<script src="/node_modules/socket.io/client-dist/socket.io.min.js"></script>
<script>
$(function(){
    $(".btn").on("click",function(){
        let host=$("#input_host").val();
        $.post("createSiteMap",{host},res=>{
            console.log(res,66);
        });
    })
    var socket = io();
    console.log(socket,555)
    socket.on("hello",function (data) {             //data是接收到的数据
            //判断服务端推送的消息
            console.log(data,555)
     });
})
</script>
{{/block}}