{{extend './shared/_layout.html'}} {{block 'title'}}{{'sitemap在线生成|网站地图|站点地图|在线生成-目之瞬间-专注于互联网平台'}}{{/block}} {{block 'keywords'}}'sitemap在线生成,网站地图，站点地图，sitemap生成器，网站爬虫'{{/block}} {{block 'desc'}}'本工具使用网站爬虫原理，它可以生成网站的sitemap.xml地图、sitemap.txt URL列表，rss.xml
用于订阅的网址列表，sitemap.html 可访问网站网址列表。'{{/block}} {{block 'head'}}
<style>
    .form-box {
        max-width: 800px;
        text-align: center;
        margin: 0 auto;
        margin-top: 20px;
    }
    
    .output-box {
        position: relative;
        width: 100%;
        background: rgb(21, 24, 35);
        border-radius: 4px;
        margin: 0 auto;
        text-align: left;
        padding: 10px;
    }
    
    .output-box ul {
        list-style: none;
        padding-bottom: 10px;
        min-height: 130px;
        max-height: 300px;
        overflow: hidden;
        overflow-y: auto;
    }
    
    .output-box ul::-webkit-scrollbar {
        width: 4px;
        height: 4px;
    }
    
    .output-box ul::-webkit-scrollbar-thumb {
        border-radius: 10px;
        box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
        background: #8d8e8f;
    }
    
    .output-box ul li {
        color: #ffffff;
        font-family: courier-new, courier, monospace;
        font-size: 16px;
    }
    
    #submitBtn {
        width: 70%;
        cursor: pointer;
    }
    
    .loading-box {
        position: absolute;
        top: 6;
        right: 10px;
        display: none;
    }
</style>
{{/block}} {{block 'body'}}
<div class="container">
    <div class="row">
        <div class="col-12 mb-3">
            <div class="form-box">
                <form class="form" method="post">
                    <div class="mb-3"><input id="input_host" name="host" class="form-control form-control-lg" value="http://bt.aimzhi.cn" type="text" placeholder="请输入网站域名，加密网站请使用https://开头"></div>
                    <div class="mb-3"><button id="submitBtn" type="submit" class="btn btn-primary ">生成网站地图</button></div>
                </form>
                <div class="output-box" id="urlBox">
                    <div class="loading-box">
                        <div class="spinner-border text-info" style="width: 1rem; height: 1rem;" role="status"></div>
                    </div>
                    <ul id="mul"></ul>
                </div>
            </div>
        </div>
    </div>
</div>
{{/block}} {{block 'script'}}
<script src="/node_modules/socket.io/client-dist/socket.io.min.js"></script>
<script>
    var socket = io();
    $(function() {
        socket.on("msg", function(res) {
            appendCC(res);
        });
        socket.on('onsuccess', res => {
            $("#submitBtn").removeClass('btn-secondary');
            $("#submitBtn").attr('disabled', false);
            $('.loading-box').hide();
            appendCC(`抓取完毕 总计 ${res.length}条，即将自动下载 sitemap.xml`);
            let link = document.createElement('a')
            link.style.display = 'none'
            link.href = 'download'
            link.setAttribute('download', 'sitemap.xml')
            link.click()
        });
        $('.form').on('submit', e => {
            e.preventDefault();
            let host = $("#input_host").val();
            if (host == '') {
                alert("请输入站点名称");
                return;
            }
            const formData = $('.form').serialize()
            $.ajax({
                url: 'create',
                type: 'post',
                data: formData,
                dataType: 'json',
                success: res => {
                    if (res.success) {
                        if (!$("#submitBtn").hasClass('btn-secondary')) {
                            $("#submitBtn").addClass('btn-secondary');
                        }
                        $("#submitBtn").attr('disabled', true);
                        $('.loading-box').show();
                        appendCC('开始抓取................');
                    } else {
                        $("#submitBtn").removeClass('btn-secondary');
                        $("#submitBtn").attr('disabled', "");
                        $('.loading-box').hide();
                    }
                }
            })
        })

        function appendCC(txt) {
            $("#urlBox ul").append(`<li>${txt}</li>`);
            var $ul = document.getElementById('mul');
            $ul.scrollTop = $ul.scrollHeight;
        }
    })
</script>
{{/block}}